<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

    <link rel="stylesheet" href="/PageLivro/css/style.css" type="text/css">
    <link rel="stylesheet" href="/PageLivro/css/responsive.css" type="text/css">
    <link rel="stylesheet" href="/PageLivro/css/colors.css" type="text/css">
    <title>Biblioteca</title>
</head>

<body>
    <main>
        <div class="container">
            <nav class="nav-bar">
                <div class="nav-bar-lg">
                    <a href="/">
                        <img class="logo" src="/Logo/Logo.png" alt="logo-marca">
                    </a>
                </div>
                <div class="nav-bar-perfil">
                    <div class="perfil-user">
                        <a href="/logout">
                            <p>Olá,&nbsp;<span><%= names %></span></p>
                        </a>
                        <img src="#" alt="">
                    </div>
                </div>
            </nav>

            <div class="content">
                <div class="tool-bar">
                    <div class="tb-space"></div>
                    <div class="nav-icon">
                        <a href="/">
                            <i class="fi fi-sr-home"></i>
                        </a>
                    </div>
                    <div class="nav-icon">
                        <a href="/livros">
                            <i class="fi fi-rr-book-alt"></i>
                        </a>
                    </div>
                    <div class="nav-icon">
                        <a href="/historico">
                            <i class="fi fi-rr-refresh"></i>
                        </a>
                    </div>
                    <div class="nav-icon">
                        <a href="/calendario">
                            <i class="fi fi-rr-calendar"></i>
                        </a>
                    </div>
                    <div class="nav-icon">
                        <a href="/alterarUsuario">
                            <i class="fi fi-rr-settings"></i>
                        </a>
                    </div>
<div class="nav-icon">
                        <a href="/download"> 
                            <i class="fi fi-rr-interrogation"></i>
                        </a>
                    </div>
                </div>

                <div class="desktop">
                    <div class="blur-background"></div>
                    <div class="nav-bar-desktop">
                        <div class="nav-bar-mobile">
                            <div class="hamburguer">
                                <i class="fas fa-bars"></i>
                            </div>
                        </div>
                        <div class="nav-bar-desktop-texto">
                            <p><span>Home</span></p>
                            <h5>/</h5>
                            <h5><span>Iniciar</span></h5>
                        </div>
                    </div>
                    <div class="mobile-menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/livros">Livros</a></li>
<li><a href="/download">Ajuda</a></li>
                            <li><a href="/alterarUsuario">Configuração</a></li>
                        </ul>
                    </div>
                    <div class="content-desktop">
                        <section id="topo"></section>
                        <div class="atalhos-desktop">
                            <% let usuarioAdm =  cargo%>
                            <nav>

                                <div class="nav-bar-ferramentas">
                                    <% if (usuarioAdm) { %>
                                    <div class="nbdt-btn">
                                        <a href="/cadbook">
                                            <button type="submit" class="btn btn-primary">Cadastrar</button>
                                        </a>
                                    </div>
                                    <% } else { %>
                                    <div class="nbdt-btn">
                                        <button type="submit" class="btn btn-primary"
                                            style="cursor: not-allowed;">Cadastrar</button>
                                    </div>
                                    <% } %>
                                    <!-- <div class="nbdt-space"></div> -->
                                    <div class="nbdt-filter">
                                        <button style="background: none" class="zoomable" id="filter"><img
                                                src="/PageLivro/img/filter.png"></button>
                                    </div>
                                </div>

                            </nav>
                            <div class="overlay"></div>
                            <div class="zoom-frame stylefiltro">
                                <form action="/livros" method="get">
                                    <h1>Filtro</h1>
                                    <Label>Onde consta?</Label>
                                    <select class="form-control" name="place" id="place" value="">
                                        <option value=>Selecione uma opção</option>
                                        <option value="SEDE">SEDE</option>
                                        <option value="FILIAL">FILIAL</option>
                                    </select>
                                    <Label>Disponível?</Label>
                                    <select class="form-control" name="available" id="available">
                                        <option value=>Selecione uma opção</option>
                                        <option value="1">Disponível</option>
                                        <option value="0">Não Disponível</option>
                                    </select>
                                    <Label>Nome do Livro?</Label>
                                    <input type="text" name="nome_livro" id="nome_livro">
                                    <br>
                                    <input type="submit" value="Aplicar filtro">
                                </form>
                            </div>



                            <div id="modal" class="modal">
                                <div class="modal-content">
                                    <span class="close" id="fecharModal">&times;</span>
                                    <p>Conteúdo da modal</p>
                                </div>
                            </div>

                            <div class="atalhos-desktop-title">
                                <h1>Biblioteca</h1>
                            </div>

                            <div class="ad-grid">
                                <% if(books.length > 0) {%>
                                <% books.forEach(function(book) { %>
                                <div class="card">
                                    <div class="card-content">
                                        <div class="card-img">
                                            <a href="#">
                                                <img class="zoomable"
                                                    src="data:image/jpeg;base64,<%= book.foto.toString('base64') %>"
                                                    alt="Book Image">
                                            </a>
                                        </div>
                                        <div class="overlay"></div>
                                        <div class="zoom-frame">
                                            <div class="image-title"><strong>Código:</strong><%= book.code %></div>
                                            <div class="image-title"><strong>Título:</strong><%= book.title %></div>
                                            <div class="image-title"><strong>Autor:</strong><%= book.author %></div>
                                            <div class="image-title"><strong>Edição:</strong><%= book.edition %></div>
                                            <div class="image-title"><strong>Editores:</strong><%= book.editors %></div>
                                            <div class="image-title"><strong>Ano:</strong><%= book.years %></div>
                                            <% if ( cargo ) {  %>

                                            <a href="/alterarLivro?id=<%= book.id_book %>"><button
                                                    class="card-button">Alterar</button></a>
                                            <%} %>
                                        </div>
                                        <div class="card-texto">
                                            <h1><%= book.title %></h1>
                                            <p><%= book.author %></p>
                                        </div>
                                        <div class="card-info">
                                            <% if ( book.available == 1) { %>
                                            <a href="/infoLivros?id=<%= book.id_book %>"><button
                                                    class="card-button">Reservar</button></a>
                                            <%} %>
                                            <button
                                                class="<%= book.available ? 'card-button-dispon' : 'card-button-not-dispon' %>"><span>D</span></button>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                                <% } else {%>
                                <h1>Nenhum Livro Encontrado</h1>
                                <% } %>
                            </div>
                            <div class="pagination">
                                <ul>
                                    <% if (currentPage > 1) { %>
                                    <li><a
                                            href="/livros?page=<%= currentPage - 1 %>&available=<%= filterOptions.available %>&place=<%= filterOptions.place %>&nome_livro=<%= filterOptions.nome_livro %>">Anterior</a>
                                    </li>
                                    <% } %>
                                    <% for (let i = 1; i <= totalPages; i++) { %>
                                    <li <% if (i === currentPage) { %>class="active" <% } %>><a
                                            href="/livros?page=<%= i %>&available=<%= filterOptions.available %>&place=<%= filterOptions.place %>&nome_livro=<%= filterOptions.nome_livro %>"><%= i %></a>
                                    </li>
                                    <% } %>
                                    <% if (currentPage < totalPages) { %>
                                    <li><a
                                            href="/livros?page=<%= currentPage + 1 %>&available=<%= filterOptions.available %>&place=<%= filterOptions.place %>&nome_livro=<%= filterOptions.nome_livro %>">Próxima</a>
                                    </li>
                                    <% } %>
                                </ul>


                            </div>

                            <div class="volta-topo" id="scrollArrow"><a href="#topo">
                                    <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                                    <lord-icon src="https://cdn.lordicon.com/xdakhdsq.json" trigger="hover"
                                        colors="primary:#ff0000" style="width:60px;height:60px">
                                    </lord-icon>
                                </a></div>

                        </div> <!-- atalhos-desktop -->
                    </div>
                    <div class="rodape-desktop">
                        <div class="rodape-desktop-texto">
                            <p>WBuilders</p>
                            <h5>| Versão 1.0.0.2</h5>
                        </div>
                    </div>
                </div>
            </div>

            <script src="/PageLivro/script.js"></script>
        </div> <!-- container -->
    </main>
</body>

</html>